<nav
  class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"
  style="margin-bottom: 30px;"
>
  <ul class="navbar-nav">
    <li class="nav-item active" style="margin-right: 100px;">
      <a class="nav-link">Weew</a>
    </li>
    <li class="nav-item float-right">
      <a class="nav-link" href="/admin/news">News</a>
    </li>
    <li class="nav-item float-right">
      <a class="nav-link" href="/admin/contact">Contact</a>
    </li>
    <li class="nav-item float-right">
      <a class="nav-link" href="/admin/logout">Logout</a>
    </li>
  </ul>
</nav>
